{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Improve meta info, SEO, Google analytics etc. -->
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Space theme transparent bg logo, simple but catchy -->
    <link rel="icon" href="{% static 'auctions/images/favicon.png' %}">
    <title>{% block title %}{% endblock %} - uniVVV connecting you to the galaxies</title>
    
    <!-- Use Bootstrap for CSS and sample template codes -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    
    <!-- Custom space themed background, create something cooler, clear cookies to make the script work locally -->
    <script src="{% static 'auctions/script.js' %}" ></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
</head>

<!-- CSS and JS for space themed background applied to all pages -->
<body>
  <div id="particles-js" class="particles-js"></div> 
  <!-- <canvas id="neon-brush-canvas"></canvas> -->
    <nav class="site-header sticky-top py-1">
      <div class="container d-flex flex-column flex-md-row justify-content-between">
        <div>
        <a class="py-2 d-flex align-items-center" href="{% url 'index' %}">
          <img src="{% static 'auctions/images/logo.png' %}" alt="Logo" class="logo img-fluid" style="max-height: 100px";>
          <h1 class="display-4 ml-2">uniVVV</h1>
        </a>

        <!-- Welcome note for logged in members -->
        {% if user.is_authenticated %}
            <p class="mb-0" style="color:#999">Welcome <strong>{{ user.username }}</strong>.  Happy Exploring!</p>
        {% else %}  
            <p class="mb-0" style="color:#999">Not signed in.</p>
        {% endif %}
        </div>
        
        <!-- Remember to make the hamburger menu for mobile version -->
        <a class="py-2 d-none d-md-inline-block" href="{% url 'index' %}">Active Listings</a>

        <!-- Conditionals applied to distinguished logged in and logged out members -->
        {% if user.is_authenticated %}
        <a class="py-2 d-none d-md-inline-block" href="{% url 'create' %}">Create New Listing</a>
        <a class="py-2 d-none d-md-inline-block" href="{% url 'watchlist' %}">Your Watchlist</a>
        <a class="py-2 d-none d-md-inline-block" href="{% url 'logout' %}">Log Out</a>
        {% else %}
        <a class="py-2 d-none d-md-inline-block" href="{% url 'login' %}">Log In</a>
        <a class="py-2 d-none d-md-inline-block" href="{% url 'register' %}">Register</a>
        {% endif %}
      </div>
    </nav>

    <!-- Individual pages own layout starts here -->
    {% block body %}
    {% endblock %}
   
    <!-- Space themed footer menu to match the uniVVV concept -->
    <hr class="py-5">
    <footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
          <small class="d-block mb-3 text-muted">&copy; uniVVV 2024 <br>CS50W Project<br>by <a href="https://github.com/melissadeleonx" target="_blank">Melissa De Leon</a></small>
        </div>
        <div class="col-6 col-md">
          <h5 class="text-white">Categories</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Cosmic Dwellings</a></li>
            <li><a class="text-muted" href="#">Nebular Tech</a></li>
            <li><a class="text-muted" href="#">Space Vehicles</a></li>
            <li><a class="text-muted" href="#">Planet Collectibles</a></li>
            <li><a class="text-muted" href="#">Orbit Outfits</a></li>
            <li><a class="text-muted" href="#">Galaxy Goods</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5 class="text-white">Earn cosmic currencies</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Sell space items</a></li>
            <li><a class="text-muted" href="#">Sell properties</a></li>
            <li><a class="text-muted" href="#">Become a Star Affiliate</a></li>
            <li><a class="text-muted" href="#">Stellar rewards waiting for you at <a href="#">uniVVV</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5 class="text-white">uniVVV Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Sign Up Now!</a></li>
            <li><a class="text-muted" href="#">How it works?</a></li>
            <li><a class="text-muted" href="#">Connect to the galaxies...</a></li>
            <li><a class="text-muted" href="#">Gaming-></a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5 class="text-white">About us</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Space Marketplace Team</a></li>
            <li><a class="text-muted" href="#">Locations</a></li>
            <li><a class="text-muted" href="#">Privacy</a></li>
            <li><a class="text-muted" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster. Make script.js work! -->
    <!-- <script src="{% static 'auctions/neon-brush.js' %}"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    
  </body>
</html>
